@import "../../shared/styles/main";

.header {
  background-color: $color-primary;
  display: flex;
  height: 50px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  @include desktop {
    align-items: start;
    flex-direction: column;
    height: auto;
  }

  &__logo {
    display: block;
    height: 50px;
    margin-top: -1px;
    z-index: 200;

    @include desktop {
      display: none;
    }
  }
}

.main-nav {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    box-shadow: 2px 0 5px $color-secondary;
    left: 0;
    right: auto;
    top: 50px;
    width: 50%;
  }

  @include desktop {
    box-shadow: none;
    display: flex;
    position: static;
    text-align: left;
    width: 100%;
  }

  &__list {
    width: auto;

    @include desktop {
      margin: auto;
      width: 1188px;
    }
  }

  &__background {
    bottom: 0;
    filter: brightness(60%);
    height: 100vh;
    left: 0;
    min-width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;

    @include tablet {
      min-width: 50vw;
    }

    @include desktop {
      display: none;
    }
  }

  &--open {
    display: block;
    height: 100vh;
    overflow: scroll;

    @include tablet {
      border-bottom-right-radius: 10px;
    }

    @include desktop {
      height: auto;
    }
  }

  &__link {
    color: $color-monochrome-1;
    display: block;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $default-h1-desktop;
    font-weight: 300;
    line-height: 70px;
    margin: 0;
    text-decoration: none;
    text-shadow: 2px 2px 8px $color-monochrome-8;


    &:hover {
      font-size: 34px;
      transition: .2s;
      transition-timing-function: ease-out;

      @include desktop {
        background: $color-monochrome-1;
        color: $color-primary;
        font-size: $default-mobile-font-size;
        opacity: .8;
      }
    }

    &--active {
      @include desktop {
        background: $color-monochrome-1;
        color: $color-primary;
        font-size: $default-mobile-font-size;
        opacity: .95;
      }
    }

    @include desktop {
      font-family: $font-primary;
      font-size: $default-mobile-font-size;
      font-weight: 500;
      padding: 0 15px;
      text-shadow: none;
    }
  }

  &__item {

    @include desktop {
      display: inline-block;
      height: 70px;
      margin: auto;
      width: auto;
    }

    &--first {
      margin-top: 60px;

      @include tablet {
        margin-top: 10px;
      }

      @include desktop {
        margin-top: 0;
      }
    }
  }
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  &--menu {
    left: 10px;
  }

  &--phone {
    right: 10px;
  }

  &--email {
    right: 50px;
  }

  @include desktop {
    display: none;
  }

  &__image {
    background-color: transparent;
    border: none;
    outline: none;

    &--phone {
      height: 20px;
    }

    &--email {
      height: 22px;
    }
  }

  &__dropdown {
    background: $color-primary;
    display: flex;
    height: 36px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;

    @include desktop {
      display: none;
    }
  }

  &__dropdown-text {
    color: $color-monochrome-1;
    display: block;
    font-family: $font-primary;
    font-size: $default-h2-mobile;
    font-weight: 400;
  }
}
