@import "../../shared/styles/main";

.header {
  background-color: $color-primary;
  display: flex;
  height: 50px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  @include desktop {
    align-items: start;
    flex-direction: column;
    height: auto;
    // fix voor rode rand even checke nog heigth 69px

  }

  &__logo {
    -webkit-font-smoothing: antialiased;
    color: $color-tertriary;
    display: block;
    font-family: $font-primary;
    font-size: $default-h1-mobile;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;

    @include desktop {
      display: none;
      padding: 0;
    }
  }
}

.main-nav {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 49px;

  @include tablet {
    left: 0;
    right: auto;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: static;
  }

  &--open {
    background-color: $color-primary;
    display: block;
    height: 100vh;

    @include tablet {
      border-bottom-right-radius: 10px;
      height: auto;
      padding: 0 16px;
    }
  }

  &__link {
    color: $color-tertriary;
    display: block;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $default-h2-mobile;
    font-weight: 400;
    line-height: 70px;
    margin: 0;
    text-decoration: none;

    &:hover {
      background: $color-tertriary;
      color: $color-primary;
      opacity: .8;
      transition: .2s;
      transition-timing-function: ease-out;
    }

    &--active {
      background: $color-tertriary;
      color: $color-primary;
    }

    @include desktop {
      font-family: $font-primary;
      // font-size: $default-desktop-font-size;
      font-weight: 400;
      padding: 0 15px;
    }
  }

  &__item {
    margin: 26px auto;

    @include desktop {
      display: inline-block;
      height: 70px;
      margin: auto;
      width: auto;
    }
  }
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 10px;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  @include desktop {
    display: none;
  }

  &__image {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
