@import "../../shared/styles/main";

.knife-info {
  margin-bottom: 7px;
  max-width: 100%;
  min-width: 265px;
  position: relative;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: row;
    max-width: 49.5%;
  }

  @media (min-width: 900px) {
    max-width: 33%;
  }

  @media (min-width: 1200px) {
    margin-bottom: 15px;
    max-width: 24%;
  }

  &__wrapper-left {
    position: relative;
    width: 100%;
  }

  &__opacity-bg {
    position: absolute;
    transition: .2s;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 100;

    &--open {
      opacity: .75;
      transition: .2s;
      transition-timing-function: ease-out;
    }
  }

  &__titel {
    color: $color-tertriary;
    font-size: $default-h1-desktop;
    font-weight: 300;
    height: 80px;
    line-height: 30px;
    padding: 100px 0 0;
    text-align: center;
    text-shadow: 2px 2px 8px $color-monochrome-8;
    transition: .2s;
    transition-timing-function: ease-out;

    &--open {
      padding: 50px 0 0;
      transition: .2s;
      transition-timing-function: ease-out;
    }
  }

  &__photo {
    margin-bottom: -5px;
    transition: .2s;
    transition-timing-function: ease-out;
    width: 100%;

    &--open {
      filter: grayscale(80%);
      transition: .2s;
      transition-timing-function: ease-out;
    }
  }

  &__icon {
    bottom: 10px;
    position: absolute;
    transform: translate(-50%, 0);
    width: 20px;

    &--down {
      left: 50%;
    }

    &--up-left {
      left: 7.5%;
    }

    &--up-right {
      left: 92.5%;
    }
  }

  &__wrapper-right {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 80px;
    transition: .2s;
    transition-timing-function: ease-out;

    &--open {
      opacity: .75;
      transition: .2s;
      transition-timing-function: ease-out;
    }
  }

  &__info {
    color: $color-tertriary;
    font-size: $default-mobile-font-size;
    font-weight: 400;
    overflow: auto;
    padding: 3px 8px 5px;
    text-align: center;
    text-shadow: 2px 2px 8px $color-monochrome-8;
    width: 100%;

    @include desktop {
      font-size: $default-h2-mobile;
    }
  }

  &__wrapper-button {
    display: flex;
    justify-content: center;
    min-height: 36px;
    width: 100%;
  }

  &__button {
    // background: $color-secondary;
    background: none;
    border: none;
    color: $color-monochrome-1;
    font-size: $default-mobile-font-size;
    font-weight: 400;
    line-height: 36px;
    min-height: 36px;
    padding: 0;
    width: 196px;

    &--open {
      display: block;
    }

    &--closed {
      display: none;
    }

    @include desktop {
      font-size: $default-h2-mobile;
      width: 219px;
    }
  }

  &__link {
    border: solid .5px $color-monochrome-1;
    border-radius: 4px;
    padding: 5px;
  }
}
