@import "../../shared/styles/main";

.table-knife {

  &__container {
    margin: 0 auto;
    max-width: 1188px;
    padding: 7px 0 0;

    @include desktop {
      padding: 16px 16px 9px;
    }

    @media (min-width: 1220px) {
      padding: 16px 0 9px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
