@import "../../shared/styles/main";

.index {

  &__container {
    margin: 0 auto;
    max-width: 1188px;
    padding: 7px 0 0;

    @include desktop {
      padding: 16px 16px 9px;
    }

    @media (min-width: 1220px) {
      padding: 16px 0 9px;
    }
  }

  &__wrapper-workflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: 1232px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__h2 {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: $default-h2-mobile;
    font-weight: 500;
    margin-top: 5px;
    padding: 3px 8px 0;
    width: 100%;

    @include desktop {
      font-size: $default-desktop-font-size;
    }
  }

  &__p-test {
    color: $color-secondary;
    font-size: $default-mobile-font-size;
    font-weight: 400;
    overflow: auto;
    padding: 3px 8px 5px;
    text-align: justify;
    width: 100%;

    @include desktop {
      font-size: $default-h2-mobile;
    }
  }

  &__link {
    color: $color-secondary;
    text-decoration: underline;

    &:hover {
      color: $color-primary;
    }
  }

  &__ul-test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
