@import "../../shared/styles/main";

.index {

  &__container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 16px 16px 0;

    @media (min-width: 1632px) {
      padding: 16px 0;
    }
  }

  &__wrapper-workflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: 1232px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
