@import "../../shared/styles/main";

.knife-info-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 16px 0;


  @media (min-width: 1525px) {
    max-width: 1525px;
    padding: 16px 0;
  }
}
