@import "../../shared/styles/main";

.info-box {
  // border: solid 1px $color-secondary;
  // border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;

  &__wrapper {
    width: 100%;
  }

  &__title {
    color: $color-secondary;
    font-size: $default-h1-mobile;
    font-weight: 500;

    @include tablet {
      font-size: $default-h1-desktop;
    }

    // @media (min-width: 1024px) {
    //   font-size: 28px;
    // }
  }

  &__text {
    color: $color-secondary;
    font-size: $default-mobile-font-size;
    font-weight: 400;

    @include tablet {
      font-size: $default-desktop-font-size;
    }
  }

  &__image {
    display: none;
    height: 40%;
    width: 40%;

    @include tablet {
      display: block;
      // opacity: .5;
    }
  }
}
