@import "../../shared/styles/main";

.footer {
  background: $color-monochrome-3;
  border-top: solid 1px $color-border;

  @media (min-width: 1632px) {
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1188px;
    padding: 15px 0;

    @media (min-width: 630px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      flex-wrap: nowrap;
    }

    @media (min-width: 1188px) {
      margin: 0 auto;
    }
  }

  &__section {
    padding: 0 15px;
    text-align: center;

    @media (min-width: 630px) {
      text-align: left;
    }

    @media (min-width: 1220px) {
      padding: 0;
    }

  }

  &__header {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: $default-h2-mobile;
    font-weight: 400;

    @include tablet {
      font-size: $default-h2-desktop;
    }
  }

  &__info {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: $default-mobile-font-size;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px;

    @include tablet {
      font-size: $default-desktop-font-size;
      line-height: 30px;
      margin-bottom: 0;
    }
  }

  &__menu-link {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: $default-mobile-font-size;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;

    @include tablet {
      font-size: $default-desktop-font-size;
      line-height: 30px;
    }
  }
}
