@import "../../styles/main";

.select-box {
  border-radius: 4px;
  display: block;
  font-family: $font-primary;
  font-size: $default-font-size;
  font-weight: 400;
  height: 36px;

  &--sort {
    background: $color-monochrome-1;
    border: solid 1px $color-accent-alt-3;
    color: $color-monochrome-2;
    margin-right: 10px;
    max-width: 200px;
    min-width: 150px;
    padding: 9px 0 8px 13px;
  }
}
