@import "../../shared/styles/main";

.workflow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;
  width: 45%;

  @include tablet {
    width: 31%;
  }

  @media (min-width: 1232px) {
    width: 19%;
  }

  &__text {
    color: $color-primary;
    font-size: $default-h2-mobile;
    font-weight: 400;
    line-height: 24px;
    padding: 0 4px;
    text-align: center;

    @include tablet {
      font-size: $default-h1-mobile;
      line-height: 30px;
    }

    @include desktop {
      font-size: $default-h1-desktop;
      line-height: 36px;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}
