@import "../../shared/styles/main";

.workflow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // margin-bottom: 16px;
  width: 19%;

  &__text {
    color: $color-primary;
    font-size: 30px;
    font-weight: 400;
    margin: -30px 0 0;
    text-align: center;
    // width: 20%;

    @include desktop {
      font-size: 36px;
    }
  }

  &__image {
    display: none;
    // height: 20%;
    //margin-top: -75px;
    // width: 20%;

    @include desktop {
      display: block;
    }
  }
}
