@import "../../shared/styles/main";

.divider {
  background: $color-monochrome-5;
  border-radius: .5px;
  height: 1px;
  margin: 16px 0;
  opacity: .9;
  width: 100%;

  @include desktop {
    margin: 25px 0;
  }
}
