@import "../../shared/styles/main";

.contact {

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1188px;
    padding: 16px 16px 0;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1220px) {
      padding: 16px 0;
    }
  }
}
